--require-hashes
https://github.com/ANTAO94/agent-regression-kit/releases/download/v4.26.0/agent_regression_kit-4.26.0-py3-none-any.whl \
    --hash=sha256:97ba634bc39a7c5118be68173e7bfe3827be3dd27c795a77620be0d780fa8724
